{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="admin-title">Management AlgoRhythm</h1>
    
    <div class="admin-stats-grid">
        <div class="welcome-card admin-stat-card">
            <h3>Utilizatori</h3>
            <p class="stat-number">{{ total_users }}</p>
        </div>
        
        <div class="welcome-card admin-stat-card">
            <h3>Clase Active</h3>
            <p style="font-size: 2rem; font-weight: bold;">{{ total_classes }}</p>
        </div>

        <div class="welcome-card admin-stat-card">
            <h3>Acțiuni Rapide</h3>
            <a href="/admin/fitness_app/user/add/" class="btn-ocean admin-action-btn">+ Adaugă Instructor</a>
            <a href="/admin/fitness_app/fitnessclass/add/" class="btn-ocean admin-action-btn">+ Adaugă Clasă Nouă</a>
            <a href="{% url 'generate_recurrent_classes' %}" class="btn-ocean admin-action-btn" > + Generează Clase Recurente</a>
        </div>
    </div>

    <h2 class="admin-subtitle">Rezervări Recente</h2>
    <table class="admin-table">
        <tr>
            <th>Client</th>
            <th>Clasă</th>
            <th>Data</th>
        </tr>
        {% for booking in recent_bookings %}
        <tr>
            <td>{{ booking.user.username }}</td>
            <td>{{ booking.fitness_class.name }}</td>
            <td>{{ booking.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}