{% extends 'base.html' %}
{% block content %}

<div class="welcome-card sub-header-card">
    <h2>Invită prieteni, primești reduceri!</h2>
    <p>Oferă-le codul tău prietenilor la înregistrare. Pentru fiecare prieten care își face cont cu el, primești <strong>10% reducere</strong> la următorul tău abonament.</p>
    <div class="sub-referral-code">
        {{ referral_code }}
    </div>
    <p class="sub-count-text">Ai adunat: <strong>{{ reduceri_disponibile }}</strong> reduceri disponibile.</p>
</div>

{% if messages %}
    <div class="sub-messages">
    {% for message in messages %}
    <div class="sub-alert {% if message.tags == 'error' %}sub-alert-error{% elif message.tags == 'success' %}sub-alert-success{% else %}sub-alert-info{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    </div>
{% endif %}

<h2 class="sub-title">Alege Abonamentul</h2>

{% if has_active_sub %}
<div class="sub-active-alert">
    Ai deja un abonament activ până pe {{ data_expirare|date:"d.m.Y" }}
</div>
{% endif %}

<div class="sub-grid">
    {% for plan in planuri %}
    <div class="card sub-card">
        <div>
            <h3>{{ plan.label }}</h3>            
            <div style="margin: 20px 0;">
                {% if plan.are_reducere %}
                    <span class="sub-old-price">{{ plan.pret_baza }}</span>
                    <h1 class="sub-new-price">{{ plan.pret_final }} RON</h1>
                {% else %}
                    <h1 class="sub-normal-price">{{ plan.pret_baza }} RON</h1>
                {% endif %}
            </div>
        </div>

        
        {% if has_active_sub %}
            <button disabled class="sub-disabled-btn">
                <i class="fa-solid fa-lock"></i>  Indisponibil
            </button>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="plan" value="{{ plan.code }}">
                <button type="submit" class="btn-ocean sub-submit-btn">Cumpără</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="sub-footer-link">
    <a href="{% url 'buy_package' %}" class="btn-back">Vrei un pachet 1-la-1 sau de grup? </a>
</div>

{% endblock %}