{% load static %} <!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoRhythm Fitness</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="hero">
        <div class="hero-content">
            <h1>ALGORHYTHM</h1>
            <p>Train smarter. Become stronger.</p>

            <a href="{% url 'login' %}" class="btn-start">
                Începe acum
            </a>
        </div>
    </div>

</body>
</html>